#likes {
    margin-left: 200px;
    margin-top: -43px;
}
#likes button {
    height: 43px;
    font-size: 10px;
    padding: 0 30px;
    background-color: transparent;
    color: red;
}

#likes i:hover {
    opacity: 0.8;
    color: rgb(251, 76, 91);
    transition: 1s;
}

#output {
    font-size: 15px;
    color: black;
    margin-left: 270px; 
    position: relative; 
    top:-32px;
}

#likes2 {
    margin-left: 200px;
    margin-top: -43px;
}
#likes2 button {
    height: 43px;
    font-size: 10px;
    padding: 0 30px;
    background-color: transparent;
    color: red;
}

#likes2 i:hover {
    opacity: 0.8;
    color: rgb(251, 76, 91);
    transition: 1s;
}

#output2 {
    font-size: 15px;
    color: black;
    margin-left: 270px; 
    position: relative; 
    top:-32px;
}

#likes3 {
    margin-left: 200px;
    margin-top: -43px;
}
#likes3 button {
    height: 43px;
    font-size: 10px;
    padding: 0 30px;
    background-color: transparent;
    color: red;
}

#likes3 i:hover {
    opacity: 0.8;
    color: rgb(251, 76, 91);
    transition: 1s;
}

#output3 {
    font-size: 15px;
    color: black;
    margin-left: 270px; 
    position: relative; 
    top:-32px;
}

#likes4 {
    margin-left: 200px;
    margin-top: -43px;
}
#likes4 button {
    height: 43px;
    font-size: 10px;
    padding: 0 30px;
    background-color: transparent;
    color: red;
}

#likes4 i:hover {
    opacity: 0.8;
    color: rgb(251, 76, 91);
    transition: 1s;
}

#output4 {
    font-size: 15px;
    color: black;
    margin-left: 270px; 
    position: relative; 
    top:-32px;
}

#likes5 {
    margin-left: 200px;
    margin-top: -43px;
}
#likes5 button {
    height: 43px;
    font-size: 10px;
    padding: 0 30px;
    background-color: transparent;
    color: red;
}

#likes5 i:hover {
    opacity: 0.8;
    color: rgb(251, 76, 91);
    transition: 1s;
}

#output5 {
    font-size: 15px;
    color: black;
    margin-left: 270px; 
    position: relative; 
    top:-32px;
}

#likes6 {
    margin-left: 200px;
    margin-top: -43px;
}
#likes6 button {
    height: 43px;
    font-size: 10px;
    padding: 0 30px;
    background-color: transparent;
    color: red;
}

#likes6 i:hover {
    opacity: 0.8;
    color: rgb(251, 76, 91);
    transition: 1s;
}

#output6 {
    font-size: 15px;
    color: black;
    margin-left: 270px; 
    position: relative; 
    top:-32px;
}

#likes7 {
    margin-left: 200px;
    margin-top: -43px;
}
#likes7 button {
    height: 43px;
    font-size: 10px;
    padding: 0 30px;
    background-color: transparent;
    color: red;
}

#likes7 i:hover {
    opacity: 0.8;
    color: rgb(251, 76, 91);
    transition: 1s;
}

#output7 {
    font-size: 15px;
    color: black;
    margin-left: 270px; 
    position: relative; 
    top:-32px;
}

#likes8 {
    margin-left: 200px;
    margin-top: -43px;
}
#likes8 button {
    height: 43px;
    font-size: 10px;
    padding: 0 30px;
    background-color: transparent;
    color: red;
}

#likes8 i:hover {
    opacity: 0.8;
    color: rgb(251, 76, 91);
    transition: 1s;
}

#output8 {
    font-size: 15px;
    color: black;
    margin-left: 270px; 
    position: relative; 
    top:-32px;
}

#likes9 {
    margin-left: 200px;
    margin-top: -43px;
}
#likes9 button {
    height: 43px;
    font-size: 10px;
    padding: 0 30px;
    background-color: transparent;
    color: red;
}

#likes9 i:hover {
    opacity: 0.8;
    color: rgb(251, 76, 91);
    transition: 1s;
}

#output9 {
    font-size: 15px;
    color: black;
    margin-left: 270px; 
    position: relative; 
    top:-32px;
}