/* Page container styles */
.page-container {
    display: flex;
    justify-content: center;
}

.page-container > .content-wrapper {
    width: 1000px;
}

.page-container > .content-wrapper > #chef {
    width: 350px;
    margin: 30px 40px 20px 0px;
    float: left;
    border: 1px solid #c6d6bf;
}

.page-container > .content-wrapper p {
    letter-spacing: 1px;
    line-height: 30px;
}

/* Media Queries: Tablet Landscape */
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}

/* Media Queries: Tabled Portrait */
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}