.pswCont {
    position: relative;
}
.second-conatiner > .pswCont input[type=password] {
    width: 100%;
    padding: 12px 20px;
    position: relative;
    margin: 5px 0 22px 0;
    display: inline-block;
    background: white;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#toggleEye{
    position: absolute;
    top: 11px;
    right: 15px;
    color:#808080;
    cursor: pointer; 
}
.strength{
    width: 25%;
    display: inline-block;
    position: relative;
    height: 100%;
    bottom: 5px;
}
.pswCont #strength-bar {
    background-color: #dcdcdc;
    height: 10px;
    position: relative;
    border-radius: 0 0 5px 5px;
    top: -14px;
}
 #msg{
    width: 100%;
    text-align: center;
    position: relative;
}